body {
    margin: 0;
}

.content {
    position: relative;
    text-align: center;
}

img {
    width: 70%;
    height: 90vh;
}

#load-count {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 26px;
    font-weight: bolder;
}
